.demand {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.mainDemand {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.headerDemand {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.selectDemand {
  width: 50%;
  margin: 3% auto;
}
.selectTable {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 2px var(--light-blue);
  background: url("../img/select.svg") no-repeat #fff;
  background-position: 94%;
  font-family: "Montserrat" sans-serif;
  font-size: 100%;
  text-align: center;
  padding: 2%;
  width: 100%;
}
.menuTab {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.morningMenu,
.allDay {
  border-top: solid 5px var(--normal-blue);
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 100%;
  font-weight: 600;
  padding-bottom: 5%;
}
.morningMenu:hover,
.allDay:hover,
.morningMenu:focus,
.allDay:focus {
  background-color: var(--normal-blue);
  box-shadow: var(--inner-shadow);
}
.morningMenu {
  background: url("../img/coffe-menu.svg") no-repeat var(--extra-lightblue);
  background-position: 52% 82%;
  background-size: 25px;
}
.Burgers {
  background: url("../img/burguer.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 82%;
  background-size: 27px;
}
.Side {
  background: url("../img/fries.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 82%;
  background-size: 25px;
}
.Drink {
  background: url("../img/drink.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 85%;
  background-size: 33px;
}

.menuTable {
  width: 100%;
}
.itemsMenu {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 3%;
}
.amount {
  width: 17%;
  text-align: center;
  font-size: 24px;
  color: #000;
  margin: 2%;
  padding: 0.5%;
}
.amount:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.itemName {
  background: var(--light-grey);
  width: 50%;
  padding: 1%;
  margin: 2%;
  border-radius: 20px;
  text-align: center;
  font-family: "Montserrat" sans-serif;
}
.itemPrice {
  font-weight: 600;
  border-bottom: solid 2px var(--light-grey);
}
.itemsSelected {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 20% 5%;
}
.amountSelected {
  border: none;
  text-align: center;
  font-size: 25px;
  color: #000;
  width: 10%;
  margin: 2% 1% 2% 4%;
  background-color: #f7f7eb;
}
.takeNoteButton {
  background: url("../img/note.svg") no-repeat var(--light-blue);
  background-size: 23%;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  margin-top: 3%;
  cursor: pointer;
}
.buttonsDemand {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.salonBack {
  width: 10%;
}
.salonConfirm {
  width: 20%;
  padding: 1%;
}
.burgerOption {
  font-size: 30px;
  font-weight: 700;
  color: var(--normal-blue);
  padding-left: 30px;
}

.inputNote {
  width: 100%;
  height: 30vh;
  margin-top: 5%;
  border-color: var(--light-blue);
  resize: none;
  text-align: center;
}
.takeNoteButton:hover {
  background-color: var(--normal-blue);
}
.saveNote {
  background-color: var(--green-green);
}
.itemReceipt {
  font-size: 20px;
  padding: 3px;
  text-align: center;
}
.payment {
  border-bottom: solid 4px var(--light-blue);
}

@media (max-width: 800px) {
  .takeNoteButton {
    background-size: 19%;
    width: 35%;
  }
}
