.demand {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.logoDemand {
  background: var(--light-blue);
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}
.logoDemand img {
  width: 60vh;
  margin-top: 3%;
}
.mainDemand {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  margin-top: 3%;
}
.selectTable {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/select.svg") no-repeat #fff;
  background-position: 94%;
  width: 75%;
  margin: 2% auto;
  padding: 1%;
  font-family: "Montserrat" sans-serif;
  font-size: 100%;
  text-align: center;
  border: solid 2px var(--light-blue);
}
.menuTable {
  border: solid 2px var(--light-blue);
  margin: 3% 2% 3% 4%;
  box-shadow: var(--drop-shadow);
}
.menuTab {
  display: flex;
  flex-flow: row nowrap;
}
.morningMenu,
.allDay {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 100%;
  font-family: "Montserrat" sans-serif;
  font-weight: 600;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
.morningMenu:hover,
.allDay:hover,
.morningMenu:focus,
.allDay:focus {
  background-color: var(--normal-blue);
  box-shadow: var(--inner-shadow);
}
.morningMenu {
  background: url("../img/coffe-menu.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 82%;
  background-size: 25px;
}
.Burgers {
  background: url("../img/burguer.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 82%;
  background-size: 27px;
}
.Side {
  background: url("../img/fries.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 82%;
  background-size: 25px;
}
.Drink {
  background: url("../img/drink.svg") no-repeat var(--extra-lightblue);
  background-position: 50% 85%;
  background-size: 33px;
}
.itemsMenu {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.amount {
  width: 17%;
  text-align: center;
  font-size: 24px;
  color: #000;
  margin: 2%;
  padding: 0.5%;
}
.amount:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.itemName {
  background: var(--light-grey);
  width: 50%;
  padding: 1%;
  margin: 2%;
  border-radius: 20px;
  text-align: center;
  font-family: "Montserrat" sans-serif;
}
.itemPrice {
  font-weight: 600;
  margin-inline: 20px;
  border-bottom: solid 2px var(--light-grey);
}
.receiptTable {
  display: flex;
  flex-flow: column nowrap;
  background: url("../img/receipt.png") no-repeat;
  background-size: cover;
  width: 37%;
  height: 188vh;
  margin: 4% 0 4% 3%;
}
.titleReceipt {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin: 10% 1% 3% 1%;
}
.itemsSelected {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 20% 5%;
}
.amountSelected {
  border: none;
  text-align: center;
  font-size: 25px;
  color: #000;
  width: 10%;
  margin: 2% 1% 2% 4%;
  background-color: #f7f7eb;
}

.itemNameReceipt {
  align-items: center;
  display: flex;
  margin-right: 4%;
}
.takeNote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 7%;
  margin-top: 10%;
  margin-left: 4%;
}
.takeNote img {
  border: none;
  width: 24%;
}
.addNote {
  width: 70%;
  padding: 2%;
  resize: none;
  text-align: center;
  font-size: 20px;
  height: 20vh;
}
.payment {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}
.buttonsDemand {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.salonBack {
  width: 10%;
  margin: 3% 2% 3% 2%;
}
.salonConfirm {
  width: 20%;
  padding: 1%;
  margin: 3% 2% 3% 2%;
}
.burgerOption{
  font-size: 30px;
  font-weight: 700;
  color: var(--normal-blue);
  padding-left: 30px;
}

@media (max-width: 900px) {
  .demand {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .mainDemand {
    width: 100%;
    align-items: center;
  }
  .menuTable {
    margin: auto;
  }
  .menuTab {
    justify-content: space-around;
  }
  .morningMenu,
  .allDay {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 34vh;
  }
  .takeNote {
    width: 80%;
    margin: 1% auto;
  }
  .takeNote img {
    width: 12%;
  }
  .receiptTable {
    width: 70%;
    margin: auto;
  }
  .titleReceipt {
    margin: 10% 0% 3% 5%;
  }
  .buttonsDemand {
    top: 155vh;
    justify-content: center;
    margin: 2%;
  }
}
