.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--extra-lightblue);
  height: 100vh;
}
.logoHome {
  margin: 3% auto 4% auto;
}
.logoHome img {
  width: 60vh;
}
.mainHome {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}
.takeOrder,
.readyToGo {
  width: 30%;
  padding: 2%;
  margin-bottom: 5%;
  font-size: 24px;
  background: var(--light-blue);
  color: #fff;
  font-weight: 500;
}
.readyToGo {
  background: var(--normal-blue);
}
.logOffHome {
  padding: 2%;
  width: 10%;
  margin: 0;
}

@media (max-width: 600px) {
  .home {
    height: 100vh;
  }

  .logoHome img {
    width: 40vh;
    margin: 20% auto 13% auto;
  }
  .takeOrder,
  .readyToGo {
    margin-bottom: 15%;
    width: 70%;
    padding: 5%;
    font-size: 20px;
  }
  .logOffHome {
    padding: 5%;
    width: 25%;
  }
}
